.sample-text_h1 .sample-text__used-tag {
    font-size: 24px;
    line-height: 29px;
}

.sample-text_h1 .sample-text__description {
    font-family: $font-quicksand-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $dark-shade-100;

//    width: 336px;
}