include ../element-name/element-name.pug

mixin pagination(items, pages, itemsOnPage, currentPage)
    .pagination
        div(data-items=items, data-pages=pages, data-itemsonpage=itemsOnPage, data-currentpage=currentPage).pagination__placeholder
        span.pagination__description.text-block_text-style_body