include ../element-name/element-name.pug

mixin rate-button(rating)
    .rate-button(data-rating=rating)
        span.rate-button__star.material-icons star_border
        span.rate-button__star.material-icons star_border
        span.rate-button__star.material-icons star_border
        span.rate-button__star.material-icons star_border
        span.rate-button__star.material-icons star_border