@import '~/theme/variables.scss';
@import '~/components/material-icons/material-icons.scss';

.rate-button {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 120px;
    cursor: default;

    &__star {
        width: 24px;
        height: 24px;
        color: $color-purple;
        font-size: 24px;
    }
}