.sample-text_body .sample-text__used-tag {
    font-size: 14px;
}

.sample-text_body .sample-text__description {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
//    width: 336px;
}