include ../element-name/element-name.pug

mixin radio-buttons(descarr, group_name, valuearr, checkedarr)
    .radio-buttons
        -for(let i = 0; i < descarr.length; i++)
            label.radio-buttons__item
                input(type="radio", name=group_name, value=valuearr[i], checked=checkedarr[i]).radio-buttons__radio-input
                p.radio-buttons__description=descarr[i]