extends ../../components/pages-layout/pages-layout.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/guests-quantity-dropdown/guests-quantity-dropdown.pug
include ../../components/range-slider/range-slider.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/room-quantity-dropdown/room-quantity-dropdown.pug

block variables
    -var title = 'Search room/Filter'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'search-room-filter'

block header
    +header()

block content
    .search-room-filter__filter
        +filter-date-dropdown("filter date dropdown", "date_range", ['2020-08-19','2020-08-23'])
        +guests-quantity-dropdown("dropdown", "default", false, 2, 1, 1)
        +range-slider("диапазон цены", [5000, 10000], 0, 15500, 500)
        p.search-room-filter__slider-description Стоимость за сутки пребывания в номере
        +checkbox-buttons("checkbox buttons", ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], ["smoking", "pets", "guests"], [false, true , true])
        +checkbox-buttons("доступность", ["Широкий коридор", "Помощник для инвалидов"], ["wideHall", "disabledAssistant"], [false, false], false, false, ["Ширина коридоров в номере &nbsp; &nbsp; &nbsp; &nbsp; не менее 91 см.", "На 1 этаже вас встретит специалист и проводит до номера."])
        +room-quantity-dropdown("удобства номера", "", false, 2, 2)
        +checkbox-buttons("дополнительные удобства", ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], ["breakfast", "worktable", "childchair", "childbed", "tv", "shampoo"], [false, true , true, true, false, false], true, false)
    .search-room-filter__rooms-container


block footer
    +footer(true)