@import '~/theme/variables.scss';

.text-block {
//    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 500px;

    // &__tag,
    // &__description {
    //     margin: 0;
    //     padding: 0;
    // }
}

@import "./_text-style/text-block_text-style_h1-title.scss";
@import "./_text-style/text-block_text-style_item-title.scss";
@import "./_text-style/text-block_text-style_label.scss";
@import "./_text-style/text-block_text-style_body.scss";