@import '~/theme/variables.scss';

@media (max-width: 400px) {
    .text-block__description {
        margin-left: 10px;
        max-width: 230px;
    }
}

.text-block__description {
    margin: 0 0 0 30px;
    max-width: 350px;
}