@import '~/theme/variables.scss';
@import '~/components/text-block/text-block.scss';

.button {
    background: none;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: fit-content;
}

@import './_color/button_color_dark-shade-50.scss';
@import './_color/button_color_purple.scss';