.sample-text_h3 .sample-text__used-tag {
    font-size: 12px;
}

.sample-text_h3 .sample-text__description {
    font-family: $font-montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
//    width: 336px;
}