.sample-text_h3 .sample-text__used-tag {
    font-size: 12px;
    line-height: 15px;
}

.sample-text_h3 .sample-text__description {
    font-family: $font-montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    color: $dark-shade-100;
//    width: 336px;
}