mixin like-button(likes, isChecked)
    label.like-button
        input(type="checkbox", checked=isChecked).like-button__input
        span.like-button__like-icon.material-icons favorite_border
        span.like-button__likes-number= likes