@import '~/theme/variables.scss';
@import '~/components/material-icons/material-icons.scss';

.like-button {
    display: flex;
    width: 40px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    border: 1px solid $dark-shade-25;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__input {
        display: none;
    }

    &__like-icon {
        font-size: 10px;
        line-height: 9px;
        margin-top: 1px;
        width: 20px;
        text-align: center;
    }

    &__likes-number {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &__like-icon, &__likes-number {
        color: $dark-shade-25;
    }

    &__input:checked + &__like-icon,
    &__input:checked ~ &__likes-number {
        color: $color-purple;
    }

    &:hover {
        border: 1px solid $color-purple;
    }

    &:hover &__like-icon,
    &:hover &__likes-number {
        color: $color-purple;
    }

    &_checked {
        border-color: $color-purple;
    }
}