extends ../../components/layout/layout.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/text-field/text-field.pug
include ../../components/guests-quantity-dropdown/guests-quantity-dropdown.pug
include ../../components/date-picker/date-picker.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/room-quantity-dropdown/room-quantity-dropdown.pug
include ../../components/subscription-text-field/subscription-text-field.pug
include ../../components/checkbox-buttons/checkbox-buttons.pug
include ../../components/radio-buttons/radio-buttons.pug
include ../../components/toggle-buttons/toggle-buttons.pug
include ../../components/like-button/like-button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/range-slider/range-slider.pug

block variables
    -var title = 'UI kit Form Elements'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-form-elements'

block content
    section.section1
        +text-field("text field", "default")
        +text-field("text field", "hover / focus", "This is pretty awesome")
        +guests-quantity-dropdown("dropdown", "default", "false")
        +date-picker("masked text field", "default")
        +date-dropdown("date dropdown", "date dropdown", "", "19.08.2019")
        +filter-date-dropdown("filter date dropdown", ['2020-08-19','2020-08-23'])
        +subscription-text-field("subscription text field")
    section.section2
        +checkbox-buttons("checkbox buttons", ["Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"], ["smoking", "pets", "guests"], [false, true , true])
        +radio-buttons("radio buttons", ["Мужчина", "Женщина"], "sex", ["man", "woman"], [true, false])
        +toggle-buttons("toggle", ["Получать спецпредложения", "Получать спецпредложения"], ["specialOffers", "specialOffers"], [true, false])
        +like-button("like button", ["2", "12"], [false, true], ["item-1", "item-2"])
        +rate-button("rate button", ["4", "5"])
    section.section3
        +range-slider("range slider", [5000, 10000], 0, 15500, 500)
    section.section4
        +room-quantity-dropdown("dropdown", "default", "false", "2", "2")
        +room-quantity-dropdown("dropdown", "expanded", "true", "2", "2")
    section.section5
        +guests-quantity-dropdown("dropdown", "", "true")
    section.section6
        +guests-quantity-dropdown("dropdown", "", "true", "2", "1")
    section.section7
        +checkbox-buttons("expandable checkbox list", ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], ["breakfast", "worktable", "childchair", "childbed", "tv", "shampoo"], [false, true , true, true, false, false], true, false)
        +checkbox-buttons("expandable checkbox list", ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка", "Телевизор", "Шампунь"], ["breakfast", "worktable", "childchair", "childbed", "tv", "shampoo"], [false, true , true, true, false, false], true, true)