extends ../../components/layout/layout.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/text-field/text-field.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-picker/date-picker.pug

block variables
    -var title = 'UI kit Form Elements'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-form-elements'

block content
    +text-field("text field", "default")
    +text-field("text field", "hover / focus", "This is pretty awesome")
    +dropdown("dropdown", "default")
    +date-picker("masked text field", "default")
    +date-dropdown("date dropdown", "date dropdown", "", "19.08.2019")
