.ui-kit-form-elements .content-wrapper {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 31% 27.3% 30%;
    height: 1853px;
}

.ui-kit-form-elements section {
    // border: 1px solid black;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // align-items: center;
    margin-left: 120px;
}

.ui-kit-form-elements section > div,
.ui-kit-form-elements section > label {
    margin-bottom: 20px;
}

.ui-kit-form-elements .section1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
}

.ui-kit-form-elements .section2 {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 3;
}

.ui-kit-form-elements .section3 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 3;
}

.ui-kit-form-elements .section4 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 4;
}

.ui-kit-form-elements .section5 {
    grid-column-start: 2;
    grid-row-start: 3;
    grid-column-end: 3;
    grid-row-end: 4;
}

.ui-kit-form-elements .section6 {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-column-end: 4;
    grid-row-end: 4;
}

.ui-kit-form-elements .section7 {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-column-end: 2;
    grid-row-end: 5;
}

.ui-kit-form-elements .section8 {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: 3;
    grid-row-end: 5;
}

.ui-kit-form-elements .section9 {
    grid-column-start: 3;
    grid-row-start: 4;
    grid-column-end: 4;
    grid-row-end: 5;
}

.buttons-container {
    height: 195px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.simple-buttons-container {
    width: 142px;
    display: flex;
    justify-content: space-between;
}

.link-buttons-container {
    width: 217px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.ui-kit-form-elements section .pagination-element-name-container {
    margin-bottom: 11px;
}