@media (max-width: 1420px) {
    .ui-kit-form-elements {

        & .content-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // width: fit-content;
            // margin: 0;
            max-width: 950px;
            // width: 950px;
            grid-template-rows: unset;
            grid-template-columns: unset;
            height: fit-content;
            min-height: unset;
        }

        // &__section {
        //     float: left;
            
        //     // margin: 0 0 0 0;
        // }
    }
}

@media (max-width: 970px) {
    .ui-kit-form-elements {

        & .content-wrapper {
            display: flex;
            flex-direction: column;
            // align-items: center;
            width: 303px;
            // flex-wrap: unset;
            // margin: 0;
            // margin-right: 0;
            height: fit-content;
        }

        &__section {
            // float: left;
            margin: 0 0 50px 0;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

// @media (max-width: 360px) {
//     .ui-kit-form-elements {

//     }
// }

.ui-kit-form-elements {

    & .content-wrapper {
        display: grid;
        grid-template-rows: 20% 20% 20% 20% 20%;
        grid-template-columns: 31% 27.3% 30%;
        // height: 1853px;
        min-height: 1850px;
        padding: 20px 0;
    }

    &__section {
        // border: 1px solid black;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // align-items: center;
        margin-left: 120px;
        min-height: 300px;
    }

    &__section > div,
    &__section > label {
        margin-bottom: 20px;
    }

    & .section1 {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 3;
        grid-row-end: 3;
    }

    & .section2 {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-column-end: 3;
        grid-row-end: 3;
    }

    & .section3 {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-column-end: 4;
        grid-row-end: 3;
    }

    & .section4 {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-column-end: 2;
        grid-row-end: 4;
    }

    & .section5 {
        grid-column-start: 2;
        grid-row-start: 3;
        grid-column-end: 3;
        grid-row-end: 4;
    }

    & .section6 {
        grid-column-start: 3;
        grid-row-start: 3;
        grid-column-end: 4;
        grid-row-end: 4;
    }

    & .section7 {
        grid-column-start: 1;
        grid-row-start: 4;
        grid-column-end: 2;
        grid-row-end: 5;
    }

    & .section8 {
        grid-column-start: 2;
        grid-row-start: 4;
        grid-column-end: 3;
        grid-row-end: 5;
    }

    & .section9 {
        grid-column-start: 3;
        grid-row-start: 4;
        grid-column-end: 4;
        grid-row-end: 5;
    }

    & .section10 {
        grid-column-start: 1;
        grid-row-start: 5;
        grid-column-end: 2;
        grid-row-end: 6;
    }

    & .section11 {
        grid-column-start: 2;
        grid-row-start: 5;
        grid-column-end: 4;
        grid-row-end: 6;
    }

    & .buttons-container {
        height: 195px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & .simple-buttons-container {
        width: 142px;
        display: flex;
        justify-content: space-between;
    }

    & .link-buttons-container {
        width: 217px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    & .pagination-element-name-container {
        margin-bottom: 11px;
    }

    & .bullet-list-element-name-container {
        margin-bottom: 8px;
    }

    & .like-buttons-container {
        max-width: 90px;
        display: flex;
        justify-content: space-between;
    }

    & .like-buttons-name-container {
        margin-bottom: 11px;
    }

    & .radio-buttons-name-container {
        margin-bottom: 11px;
    }

    & .name-container {
        margin-bottom: 11px;
    }

    & .rate-buttons-container {
        max-width: 260px;
        display: flex;
        justify-content: space-between;
    }
}