extends ../../components/layout/layout.pug
include ../../components/calendar/calendar.pug

block variables
    -var title = 'UI kit Form Elements'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-form-elements'

block content
    .date-dropdowns-container
        +calendar("date dropdown", "date dropdown", "", "19.08.2019")