extends ../../components/layout/layout.pug

block variables
    -var title = 'UI kit Form Elements'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-form-elements'

block content