@import '~/theme/variables.scss';
@import '~/components/material-icons/material-icons.scss';

@media (max-width: 360px) {
    .date-dropdown {
        width: 300px;

        &__first-input,
        &__second-input {
            width: 145px;
        }
    }
}

.date-dropdown {
    //    border: 1px solid black;
        box-sizing: content-box;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        width: 320px;

        &__first-input,
        &__second-input {
            height: 65px;
            width: 150px;
        //    border: 1px solid black;
        }

    & .input-field {
        // width: 150px;

        &__input {
            cursor: pointer;
        }

        &__input::placeholder {
            color: $dark-shade-75;
        }

        &__icon {
            left: 116px;
            cursor: pointer;
            width: 24px;
            font-size: 24px;
        }
    }
}