include ../element-name/element-name.pug
include ../input-field/input-field.pug

mixin date-dropdown(name1, name2, value1, value2)
    .date-dropdown
        label.date-dropdown__content
            +element-name(name1)
            +input-field("text", "calendar-input-1", "ДД.ММ.ГГГГ", value1, "expand_more")
        label.date-dropdown__content
            +element-name(name2)
            +input-field("text", "calendar-input-2", "ДД.ММ.ГГГГ", value2, "expand_more")