//@import '~/theme/variables.scss';
//@import '~/theme/global.scss';

.ui-kit-colors-and-type .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.color-blocks-container {
//    border: 1px solid black;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 610px;
    margin-left: 168px;
}

.text-blocks-container {
//    border: 1px solid $purple-color;
    height: 319px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 168px;
}