@import '~/theme/variables.scss';

.range-slider {
    width: 266px;
}

.ui-slider {
    height: 6px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 3px;
}

.ui-slider .ui-slider-range {
    height: 6px;
    border-radius: 3px;
    background: $gradient-green;
}

.ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: $gradient-green;
    top: -6px;
    box-sizing: content-box;
}

.range-slider .element-name {
    margin-bottom: 17px;
}