@import '~/theme/variables.scss';

.color-block__color-code {
    margin: 0;
    // padding: 0;
    font-family: $font-opensans;
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
    line-height: 24px;
    // line-height: 29px;
    color: $dark-shade-100;
    margin-top: 3px;
}