@import '~/theme/variables.scss';

.datepicker {
    width: 320px;
    padding: 11px 11px 15px 11px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark-shade-5;
    border-radius: 4px;
}

.datepicker.active {
    transform: translateY(-6px);
    z-index: 1000000;
}

.datepicker--nav-title {
    font-family: $font-quicksand-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $dark-shade-100;
}

.datepicker--pointer {
    display: none;
}

.datepicker--nav-action {
    color: $color-purple;
}

.datepicker--nav {
    border: none;
}

.datepicker--content {
    width: 279.39px;
//    height: 240px;
    margin: 23px auto 14px auto;
}

.datepicker--days-names {
    margin-bottom: 10px;
}

.datepicker--day-name {
    color: $color-purple;
}

.datepicker--cells-days .datepicker--cell-day {
    color: $dark-shade-50;
    width: 39.88px;
    height: 40px;
}

.datepicker--cells-days .-other-month-,
.datepicker--cell.-disabled-.-in-range-.-other-month-,
.datepicker--cell.-disabled-.-focus-.-other-month- {
    color: $dark-shade-25;
}

.datepicker--buttons {
    display: flex;
    flex-direction: row-reverse;
    font-family: $font-montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    color: $dark-shade-100;
//    border: 1px solid black;
    justify-content: space-between;
    height: 15px;
    padding: 4px 8px 4px 7px;
    border: none;
}

.datepicker--button {
    display: block;
    height: 15px;
}

.datepicker--button:hover {
    background-color: #FFFFFF;
}

.datepicker--buttons [data-action="today"] {
    color: $color-purple;
    text-align: right;
}

.datepicker--buttons [data-action="clear"] {
    color: $dark-shade-50;
    text-align: left;
}

.datepicker--cell.-current- {
    color: #FFFFFF;
    border-radius: 22px;
    background: $gradient-green;
}

.datepicker--cell.-current-.-in-range- {
    color: #FFFFFF;
    border-radius: 22px;
    background: $gradient-green;
}

.datepicker--cell.-range-to-,
.datepicker--cell.-range-from- {
    background: none;
}

.datepicker--cell.-selected-.-focus-,
.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current-,
.datepicker--cell.-focus-,
.datepicker--cell.-current-.-focus-,
.datepicker--cell.-focus-.-other-month-,
.datepicker--cell.-selected-.-other-month-,
.datepicker--cell.-selected-.-focus-.-other-month- {
    color: #FFFFFF;
    border-radius: 22px;
    background: $gradient-purple;
}

.datepicker--cell.-focus-.-disabled-,
.datepicker--cell.-disabled-.-in-range- {
    background: none;
    border: none;
    color: $dark-shade-50;
    opacity: 1;
}

.datepicker--cell.-disabled-.-in-range-::after,
.datepicker--cell.-disabled-.-range-from-,
.datepicker--cell.-current-.-in-range-::after {
    background: none;
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to- {
    border: none;
}

.datepicker--cell.-in-range-,
.datepicker--cell.-in-range-.-focus- {
    color: $dark-shade-50;
    background: none;
}

.datepicker--cell.-in-range-.-other-month-,
.datepicker--cell.-in-range-.-other-month-.-focus- {
    color: $dark-shade-25;
    background: none;
}

.datepicker--cell.-in-range-::after {
    content: "";
    background: $gradient-purple;
    opacity: 0.25;
    width: 39.88px;
    height: 40px;
    position: absolute;
    z-index: -1;
}

.datepicker--cell.-in-range-.-focus-::after {
    border-radius: 22px;
}

.datepicker--cell.-in-range-.-disabled- {
    background: none;
}

.datepicker--cell.-range-from-::after {
    content: "";
    background: $gradient-purple;
    opacity: 0.25;
    width: 39.88px;
    height: 40px;
    position: absolute;
    z-index: -1;
    border-radius: 22px 0 0 22px;
}

.datepicker--cell.-range-to-::after {
    content: "";
    background: $gradient-purple;
    opacity: 0.25;
    width: 39.88px;
    height: 40px;
    position: absolute;
    z-index: -1;
    border-radius: 0 22px 22px 0;
}

.datepicker--cell.-current-.-in-range-::after {
    content: "";
    background: $gradient-purple;
    opacity: 0.25;
    width: 39.88px;
    height: 40px;
    position: absolute;
    z-index: -1;
    border-radius: 22px 0 0 22px;
}

.datepicker--cell.-range-from-.-disabled-::after,
.datepicker--cell.-range-to-.-disabled-::after {
    background: none;
}