mixin color-block(modificator, description, color)

    .color-block(class=`color-block_color_${modificator}`)
        .color-block__color-box

        .color-block__description
            p=description
            p=color