mixin color-block(modificator, description, color)

    .color-block(class=`color-block_color_${modificator}`)
        .color-block__color-box

        .color-block__description
            p.color-block__color-name.text-block_text-style_item-title=description
            p.color-block__color-code=color