block variables

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1.0, width=device-width")
        title #{title}
        meta(name="description", content=description)
        link(rel="icon", href="favicon.ico", type="image/ico")
    body(class=pageClass)
        .wrapper
            #main
                include ../utility-header/utility-header.pug
                .content-wrapper
                    block content
                include ../footer/footer.pug
        block script
