extends ../../components/layout/layout.pug

block variables
    -var title = 'Webpack + Pug'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'index-page'

block content
    section
        p На данный момент готовы все страницы UI-kit и все компоненты.
        p Просмотреть готовые страницы вы можете, выбрав их из выпадающего меню "UI kit" в хедере.


block script
    script(type='text/javascript').
        const foo = true;
        let bar = function() {};
        if (foo) {
        bar(1 + 5)
        }