extends ../../components/layout/layout.pug
include ../../components/reviews-diagram/reviews-diagram.pug

block variables
    -var title = 'Webpack + Pug'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'index-page'

block content
    section
        p Просмотреть страницы сайта или UI kit вы можете, наведя курсор на одно из выпадающих меню сверху.
        +reviews-diagram()


block script
    script(type='text/javascript').
        const foo = true;
        let bar = function() {};
        if (foo) {
        bar(1 + 5)
        }