include ../element-name/element-name.pug
include ../input-field/input-field.pug

mixin subscription-text-field(input_name, input_value)
    form(method="post").subscription-text-field
        label
            +input-field("email", input_name, "Email", value=input_value)
            input(type="submit" value="arrow_forward").subscription-text-field__submit-button.material-icons