@import '~/theme/variables.scss';
@import '~/components/material-icons/material-icons.scss';

.subscription-text-field {
        //border: 1px solid black;
        box-sizing: content-box;
        // height: fit-content;
        width: 266px;
        height: 64.44px;

    & .input-field {
        width: 266px;
    }

    &__submit-button {
        position: relative;
        top: -35px;
        left: 227px;
        border: none;
        background: none;
        cursor: pointer;
        color: $color-purple;
        width: 24px;
        font-size: 24px;
    }
}