/* Vars:
   ========================================================================== */

// Font
$mainFont                : 'Montserrat-Bold', Helvetica, Arial, sans-serif;
$font-quicksand          : 'Quicksand-Regular', sans-serif;
$font-quicksand-bold     : 'Quicksand-Bold', sans-serif;
$font-montserrat         : 'Montserrat-Regular', sans-serif;
$font-montserrat-bold    : 'Montserrat-Bold', sans-serif;
$font-material-icons     : 'MaterialIcons-Regular';
$font-opensans           : 'OpenSans-Regular', sans-serif;
$font-opensans-bold      : 'OpenSans-Bold', sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

/*
 All colors taken from:
 https://github.com/vedees/uimini
*/

// Main colors
$dark-shade-100          : #1F2041;
$dark-shade-75           : rgba(31, 32, 65, 0.75);
$dark-shade-50           : rgba(31, 32, 65, 0.5);
$dark-shade-25           : rgba(31, 32, 65, 0.25);
$dark-shade-10           : rgba(31, 32, 65, 0.1);
$dark-shade-5            : rgba(31, 32, 65, 0.05);
$color-purple            : #BC9CFF;
$color-green             : #6FCF97;

// Gradients
$gradient-purple: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-green: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);


// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;