.color-block {
    display: flex;
//    justify-content: space-between;
    align-items: center;
//    border: 1px solid black;
    height: 70px;
}

.color-block__color-box {
    width: 70px;
    height: 70px;
    border-radius: 6px;
}

.color-block__description {
    font-family: $font-quicksand-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    line-height: 29px;
}

.color-block__description p {
    margin: 0;
    padding: 0;
    display: inline-block;
}

@import "color-block_dark-shade-100/color-block_dark-shade-100.scss";
@import "color-block_dark-shade-75/color-block_dark-shade-75.scss";
@import "color-block_dark-shade-50/color-block_dark-shade-50.scss";
@import "color-block_dark-shade-25/color-block_dark-shade-25.scss";
@import "color-block_dark-shade-5/color-block_dark-shade-5.scss";
@import "color-block_color-green/color-block_color-green.scss";
@import "color-block_color-purple/color-block_color-purple.scss";