.text-block_text-style_label .text-block__tag {
    font-size: 12px;
    line-height: 15px;
}

.text-block_text-style_label {
    font-family: $font-montserrat-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
    color: $dark-shade-100;
    cursor: default;
}