@import '../../../theme/variables.scss';

.text-block_text-style_h2 .text-block__tag {
    font-size: 19px;
    line-height: 23px;
}

.text-block_text-style_h2 {
    font-family: $font-quicksand-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $dark-shade-100;
//    width: 336px;
}