@import '~/theme/variables.scss';
@import '~/components/text-block/text-block.scss';

@media (max-width: 360px) {
    .element-name {
        max-width: 300px;
    }
}

.element-name {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;

    &__title {
        margin: 0;
        display: inline-block;
    }

    &__description {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: normal;
        color: $dark-shade-50;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 15px;
        margin: 0;
        display: inline-block;
    }
}