.ui-colors-and-type .content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.color-blocks-container {
//    border: 1px solid black;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 610px;
}

.sample-text-container {
//    border: 1px solid black;
    height: 319px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}