.color-blocks-container {
//    border: 1px solid black;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    margin-left: 50px;
}