mixin header-item (href, descr)
    li.header-link
        a(href=href)=descr

header.header
    .container
        ul.header--links-list
            +header-item('ui-kit-colors.html', 'UI kit Colors & Type')
            +header-item('#', 'About')
            +header-item('#', 'Contact Us')
    