.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.header--links-list {
    display: flex;
    justify-content: space-around;
    height: 31px;
}

.header-logo-container {
    flex-grow: 1;
}

.header-logo-container img {
    width: 48px;
}

.header-links-list-container {
    flex-grow: 30;
}

.header-link {
    display: inline-block;
    width: 87%;
    box-sizing: content-box;
}