mixin header-item (href, descr)
    li.header-item
        a(href=href).header-link=descr

header.header
    .header-logo-container
        img(src="assets/img/logo.svg")
    .header-links-list-container
        ul.header--links-list
            li
                div
                    a(href="index.html") Index page
            li
                div UI kit
                ul
                    +header-item('ui-kit-colors.html', 'UI kit Colors & Type')
                    +header-item('ui-kit-form-elements.html', 'UI kit Form Elements')
            li
                div Website pages