@import '~/theme/variables.scss';

.input-field {
    font-family: $font-montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid $dark-shade-25;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
    color: $dark-shade-75;
    box-sizing: border-box;
}

.input-field::placeholder {
    color: $dark-shade-25;
}

.input-field:hover,
.input-field:focus {
    border: 1px solid $dark-shade-50;
    color: $dark-shade-75;
}

.input-field + .material-icons {
    color: $dark-shade-50;
    position: relative;
    top: -34px;
}