include ../element-name/element-name.pug
include ../input-field/input-field.pug

mixin filter-date-dropdown(name, preselectedDates)
    label.filter-date-dropdown
        -if(name)
            +element-name(name)
        +input-field("text", "filter-date-dropdown", "ДД.ММ.ГГГГ - ДД.ММ.ГГГГ", "", "expand_more", preselectedDates)