@import '~/theme/variables.scss';

.guests-quantity-dropdown {
        //border: 1px solid black;
        box-sizing: content-box;
        height: 64.44px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
}