@import '~/theme/variables.scss';

.checkbox-buttons.checkbox-buttons_expandable{

    position: relative;

    & .checkbox-items-list {
        position: absolute;
        top: 21.5px;
        left: 0;
        right: 0;
        background: #FFFFFF;
        z-index: 100;
    }

    & .element-name__description {
        font-family: $font-material-icons;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        display: inline-block;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
        width: 24px;
    }

    & .element-name {
        width: 256px;
        cursor: pointer;

        &__title {
            cursor: pointer;
        }
    }

    & .checkbox-items-list {
        display: none;
    }

    &__backdrop {
        position: fixed;
        top: 0;
        display: none;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    &.checkbox-buttons_expanded {

        & .checkbox-items-list {
            display: block;
        }

        & .element-name__description {
            transform: rotate(180deg);
        }
    }
}