include ../element-name/element-name.pug

mixin toggle-buttons(descarr, valuearr, checkedarr)
    .toggle-buttons
        -for(let i = 0; i < descarr.length; i++)
            label.toggle-buttons__item
                .toggle-buttons__switch
                    input(type="checkbox", value=valuearr[i], checked=checkedarr[i]).toggle-buttons__toggle-input
                    span.toggle-buttons__slider
                p.toggle-buttons__description= descarr[i]