.sample-text_h2 .sample-text__used-tag {
    font-size: 19px;
    line-height: 23px;
}

.sample-text_h2 .sample-text__description {
    font-family: $font-quicksand-bold;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $dark-shade-100;
//    width: 336px;
}