extends ../../components/layout/layout.pug

block variables
    -var title = 'UI kit Cards'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-cards'

block content
    section.section.section1
        include ../../components/room-search-card/room-search-card.pug
        include ../../components/registration-card/registration-card.pug
    section.section.section2
        
    section.section.section3