extends ../../components/layout/layout.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/booking-card/booking-card.pug
include ../../components/room-card/room-card.pug
include ../../components/room-search-card/room-search-card.pug

block variables
    -var title = 'UI kit Cards'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-cards'

block content
    section.section.section1
        +room-search-card()
        include ../../components/registration-card/registration-card.pug
    section.section.section2
        +booking-card(888, "люкс", 9990, 2179, 300)
        include ../../components/login-card/login-card.pug
    section.section.section3
        +filter-date-dropdown("filter date dropdown", "date_range", ['2020-08-19','2020-08-23'], true)
        +room-card(888, 9990, "люкс", 5, 145, ["room888.png", "room888.png", "room888.png", "room888.png"])
        +room-card(840, 9900, "", 4, 65, ["room840.png", "room840.png", "room840.png", "room840.png"])