extends ../../components/layout/layout.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/booking-card/booking-card.pug

block variables
    -var title = 'UI kit Cards'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-cards'

block content
    section.section.section1
        include ../../components/room-search-card/room-search-card.pug
        include ../../components/registration-card/registration-card.pug
    section.section.section2
        +booking-card(888, "люкс", 9990)
        include ../../components/login-card/login-card.pug
    section.section.section3
        +filter-date-dropdown("filter date dropdown", "date_range", ['2020-08-19','2020-08-23'], true)