include ../../components/subscription-text-field/subscription-text-field.pug

mixin footer-link(content, link)
    a(href=link).footer__link=content

mixin footer(is_extended)
    footer.footer
        -if(is_extended)
            .footer__main-body
                .footer__main-content-wrapper
                    .footer__block.footer__block-info
                        img(src="assets/img/footer-logo.png", alt="Логотип отеля Toxin").footer__logo
                        p.footer__hotel-text.text-block_text-style_body Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
                    .footer__block.footer__block-navigation
                        p.footer__block-title.text-block_text-style_label Навигация
                        +footer-link("О нас", "#")
                        +footer-link("Новости", "#")
                        +footer-link("Служба поддержки", "#")
                        +footer-link("Услуги", "#")
                    .footer__block.footer__block-about
                        p.footer__block-title.text-block_text-style_label О нас
                        +footer-link("О сервисе", "#")
                        +footer-link("Наша команда", "#")
                        +footer-link("Вакансии", "#")
                        +footer-link("Инвесторы", "#")
                    .footer__block.footer__block-support
                        p.footer__block-title.text-block_text-style_label Служба поддержки
                        +footer-link("Соглашения", "#")
                        +footer-link("Сообщества", "#")
                        +footer-link("Связь с нами", "#")
                    .footer__block.footer__block-subscription
                        p.footer__block-title.text-block_text-style_label Подписка
                        p.footer__hotel-text.text-block_text-style_body Получайте специальные предложения и новости сервиса
                        +subscription-text-field("user_email")
            .footer__bottom
                .footer__bottom-content-wrapper
                    p.footer__copyright-text.text-block_text-style_body Copyright © 2018 Toxin отель. Все права зачищены.
                    .footer__socials-icons
                        a(href="https://twitter.com/", target="_blank").footer__social-link
                            span.fab.fa-twitter.footer__icon
                        a(href="https://facebook.com/", target="_blank").footer__social-link
                            span.fab.fa-facebook-square.footer__icon
                        a(href="https://instagram.com/", target="_blank").footer__social-link
                            span.fab.fa-instagram.footer__icon
        -else
            .footer__wrapper-small
                img(src="assets/img/footer-logo.png", alt="Логотип отеля Toxin").footer__logo
                p.footer__copyright-text.text-block_text-style_body Copyright © 2018 Toxin отель. Все права зачищены.
                .footer__socials-icons
                    a(href="https://twitter.com/", target="_blank").footer__social-link
                        span.fab.fa-twitter.footer__icon
                    a(href="https://facebook.com/", target="_blank").footer__social-link
                        span.fab.fa-facebook-square.footer__icon
                    a(href="https://instagram.com/", target="_blank").footer__social-link
                        span.fab.fa-instagram.footer__icon