mixin sample-text(modificator, used_tag, description)

    .sample-text(class=`sample-text_${modificator}`)
        .sample-text__used-tag
            p=used_tag
        .sample-text__description
            p=description