@import '~/components/text-block/text-block.scss';

@media (max-width: 900px) {
    .landing-page-guests {
        &__background-image {
            width: unset;
            height: 552px;
        }
    }
}

@media (max-width: 500px) {
    .landing-page-guests {
        & .room-search-card {
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

.landing-page-guests {

    &__description {
        width: 297px;
        margin: 0;
        text-align: right;
        position: absolute;
        bottom: 18px;
        right: 10%;
    }

    &__background-image {
        // position: relative;
        width: 100%;
        // bottom: 70px;
        // left: 10%;
        // transform: translate(-50%, -50%);
    }

    & .content-wrapper {
        position: relative;
        max-width: 1440px;
        max-height: 830px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    & .room-search-card {
        position: absolute;
        top: 70px;
        left: 10%;
        // transform: translate(-50%, -50%);
    }
}