include ../element-name/element-name.pug
include ../input-field/input-field.pug

mixin date-picker(desc, comment, name, value)
    label.date-picker
        +element-name(desc, comment)
        +input-field("text", name, "ДД.ММ.ГГГГ", value)