@import '~/theme/variables.scss';

.quantity-dropdown {
        //border: 1px solid black;
        box-sizing: content-box;
        height: 64.44px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
}

.quantity-dropdown .input-field {
    width: 320px;
}

.quantity-dropdown .input-field::placeholder {
    color: $dark-shade-75;
}

.quantity-dropdown .input-field ~ .material-icons {
    left: 286px;
}