mixin checkbox-items-list(descarr, valuearr, checkedarr)
    .checkbox-items-list
        -for(let i = 0; i < descarr.length; i++)
            label.checkbox-items-list__item
                -if(checkedarr[i])
                    input(type="checkbox", value=valuearr[i], checked).checkbox-items-list__checkbox-input
                    p.checkbox-items-list__description= descarr[i]
                -else
                    input(type="checkbox", value=valuearr[i]).checkbox-items-list__checkbox-input
                    p.checkbox-items-list__description= descarr[i]