@import '~/theme/variables.scss';

.checkbox-items-list {

    &__item {
        // border: 1px solid black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
        min-width: 240px;
        margin: 10px 0 0 0;
    }

    &__description {
        // border: 1px solid black;
        padding: 0;
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: $dark-shade-50;
        margin: 0 0 0 10px;
        display: inline-block;
        max-width: 210px;
    }

    &__rich-title {
        // border: 1px solid black;
        padding: 0;
        font-family: $font-montserrat-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $dark-shade-75;
        margin: 0 0 5px 0px;
        display: inline-block;
        max-width: 230px;
        position: relative;
    }

    &__rich-description {
        position: relative;
        // top: 30px;
        left: 0px;
        padding: 0;
        margin: 0;
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $dark-shade-50;
        max-width: 230px;
    }

    &__rich-text-container {
        margin-left: 10px;
        min-width: 240px;
    }


    & .ui-button {
        // border: 1px solid black;
        border: none;
        border-radius: 0px;
        background: none;
        box-shadow: unset;
        padding: 0;
        text-align: left;
    }

    & .ui-button:hover {
        border: none;
        background: none;
    }

    & .ui-button.ui-state-active:hover {
        border: none;
        background: none;
    }

    & .ui-button .ui-icon.ui-state-checked {
        background-image: url("./img/Check.png");
        background-repeat: no-repeat;
    }

    & .ui-icon-check {
        background-position: center;
    }


    & .ui-checkboxradio-label .ui-icon-background {
        background-color: #FFFFFF;
        border: 1px solid $dark-shade-25;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: unset;
    }

    & .ui-state-active .ui-icon-background,
    & .ui-checkboxradio-label:hover .ui-icon-background,
    & .ui-checkboxradio-label .ui-icon-background:hover {
        border: 1px solid $color-purple;
    }

    & .ui-state-checked {
        background-color: #FFFFFF;
    }

    & .ui-icon {
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        // margin: -0.7px 0 0 0;
        margin: 0 0 0 0;
    }
}