@import '~/theme/variables.scss';

.room-card {
    width: 270px;
    height: 257px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px $dark-shade-5;
    border-radius: 4px;

    &__gallery {
        height: 152px;
        overflow: hidden;
    }

    &__body {
        padding: 21px 19px 10px 19px;
        // border: 1px solid black;
    }

    &__room-description {
        display: flex;
        justify-content: space-between;
        // border: 1px solid black;
        margin-bottom: 13.5px;
    }

    &__room-info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__room-number-sign {
        font-family: $font-quicksand-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 15px;
        color: $dark-shade-100;
        margin: 0 4px 0 0;
    }

    &__room-number {
        font-family: $font-quicksand-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
        color: $dark-shade-100;
        margin: 0 4px 0 0;
    }

    &__room-deluxe {
        margin: 0;
        font-family: $font-montserrat-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color-purple;
    }

    &__room-price {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__room-price-number {
        font-family: $font-montserrat-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: $dark-shade-50;
        margin: 0 4px 0 0;
    }

    &__room-price-per-period {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $dark-shade-50;
        margin: 0;
    }

    &__feedback {
        // border: 1px solid black;
        height: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $dark-shade-10;
    }

    &__reviews {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    &__reviews-number {
        font-family: $font-montserrat-bold;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: $dark-shade-50;
        margin: 0 4px 0 0;
    }

    &__reviews-text {
        font-family: $font-montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: $dark-shade-50;
        margin: 0;
    }
}