extends ../../components/layout/layout.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug

block variables
    -var title = 'UI kit Headers & Footers'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-headers-footers'

block content
    +header()
    +header("Юлий Цезарь")
    +footer(true)
    .footer-small
        +footer(false)