extends ../../components/layout/layout.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/booking-card/booking-card.pug
include ../../components/room-card/room-card.pug
include ../../components/header/header.pug

block variables
    -var title = 'UI kit Headers & Footers'
    -var description = 'Description for Webpack + Pug'
    -var pageClass = 'ui-kit-headers-footers'

block content
    +header()
    +header("Юлий Цезарь")