include ../element-name/element-name.pug
include ../checkbox-items-list/checkbox-items-list.pug

mixin checkbox-buttons(name, descarr, valuearr, checkedarr)
    .checkbox-buttons
        -if(name)
            +element-name(name)
        +checkbox-items-list(descarr, valuearr, checkedarr)