include ../element-name/element-name.pug
include ../checkbox-items-list/checkbox-items-list.pug

mixin checkbox-buttons(name, descArr, valueArr, checkedArr, expandable, expanded, richDescArr)
    -if(expandable)
        div(data-expanded=`${expanded}`).checkbox-buttons.checkbox-buttons_expandable
            +element-name(name, "expand_more")
            +checkbox-items-list(descArr, valueArr, checkedArr)
    -else
        div.checkbox-buttons
            +element-name(name)
            +checkbox-items-list(descArr, valueArr, checkedArr, richDescArr)