@import '~/theme/variables.scss';

.checkbox-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;

    & .checkbox-items-list {
        margin-top: 1.5px;
    }
}